# Python
venv/
__pycache__/
*.pyc

# Database
*.db

# Reports
reports/pdf_reports/
reports/excel_reports/

# Frontend
node_modules/
dist/

# Environment
.env

# ML Files
mlruns/
*.pkl

# OS Files
.DS_Store
Thumbs.db

